@import "variables";

* {
	margin: 0; padding: 0;
	border: 0; outline: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	font-family: "Montserrat", sans-serif;
	color: $dark;

	overflow-x: hidden;
	min-height: 100vh;
}

section {
	&.preview {
		position: fixed;
		top: 0; bottom: 0; right: 0;
		z-index: 2;

		width: 40vw;
		background: $light;

		span {
			position: absolute;
			bottom: 2vw; right: 2vw;

			font-family: "Roboto Mono", monospace;
			font-weight: bold;

			font-size: 1.3vw;
			color: $black;

			letter-spacing: 0.1vw;
			opacity: 0.3;
		}
	}
}

article.fullscreen {
    padding: 0 20vw;
    padding-bottom: 15vh;
    width: 100vw;
}

article {
	display: none;
	flex-direction: column;
	justify-content: center;

	min-height: 100vh;
	width: 60vw;

	vertical-align: top;
	white-space: normal;

	padding: 6vw;

	&.active {
		display: flex;
	}
}

a {
	position: relative;
	overflow: hidden;

	display: inline-block;
	box-shadow: 0 0 10px 1px rgba($black, 0.2);
	margin: 1.3vw 0 0.3vw 0;

	background: $primary;
	color: $white;

	font-weight: 700;
	font-size: 1.1vw;

	text-transform: uppercase;
	border-radius: 999px;

	padding: 0.9vw 2.4vw;
	text-decoration: none;

	cursor: pointer;

	transition: background 0.2s ease;
	&:hover { background: desaturate(darken($primary, 10), 10); }

	&.disabled {
		opacity: 0.5;
		pointer-events: none;
		cursor: pointer;
	}

	&.previous, &.next {
		float: right;
		margin-left: 0.6vw;

		background: darken($secondary, 10);
		&:hover { background: darken($secondary, 15); }
	}

	span { display: inline-block; }

	i.fa {
		padding-right: 0.8vw;
		&.fa-caret-right { padding: 0 0 0 0.8vw; }
	}
}

h1 {
	font-weight: 900;
	font-size: 2.4vw;
	margin: 1vw 0;
}

h2 {
	font-weight: 800;
	font-size: 1.6vw;
	color: $primary;
}

p {
	font-weight: 500;
	font-size: 1.2vw;
	line-height: 2.2vw;
	padding-top: 1.5vw;
}

code { font-family: "Roboto Mono", monospace; }

div.code {
	width: 100%;

	padding: 1.3vw 1.6vw;
	margin-top: 2vw;

	background: $secondary;
	color: $white;

	font-size: 1.1vw;
	border-radius: 5px;

	fieldset { position: relative; }
	div.CodeMirror { height: initial; }
}

iframe {
	height: 100%;
	width: 100%;
}

//header部分菜单
html, body {
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  display: flex;
  align-content: space-between;
  align-items: center;
  transform: translateX(-100%);
  z-index: 1000;
  &.active{
      transform: translateX(0);
      background-color: rgba(0,0,0,.9);
  }
}

.nav {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  
  li {
    list-style: none;
    transition: opacity 0.4s, transform 0.4s;
    
    @for $i from 1 through 8 {
      &:nth-child(#{$i}) { transition-delay: 0.25s + ($i - 1) * 0.125s; }
    }
  }
  
  a {
    text-decoration: none;
    color: white;
    font-size: 3.6rem;
    box-shadow: none;
    border-radius: none;
    background: none;
    
    &:hover{
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: jello;
        transform-origin: center;
    }
  }
  
  &:not(.active) {
    li {
      opacity: 0;
      transform: scale(0.90) translateY(-30px);
      transition-duration: 0.2s;
      
      @for $i from 1 through 8 {
        &:nth-child(#{$i}) { transition-delay: ($i - 1) * 0.05s; }
      }
    }
  }
}

.hambagah {
  position: fixed;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 1002;
  
  .bar {
    display: flex;
    width: 2rem;
    height: .25rem;
    margin-bottom: .25rem;
    
    &:before, &:after {
      content: '';
      width: 50%;
      height: 100%;
      background: white;
      box-shadow: 1px 1px 2px rgba(0,0,0,.8);
      transition: 0.3s;
    }
    
    &:nth-child(1) {
      &:before { transform-origin: 100% 100%; }
      &:after { transform-origin: 0% 100%; }
    }
    
    &:nth-child(2) {
      &:before { transform-origin: 0% 50%; }
      &:after { transform-origin: 100% 50%; }
    }
    
    &:nth-child(3) {
      &:before { transform-origin: 100% 0%; }
      &:after { transform-origin: 0% 0%; }
    }
  }
  
  &.active .bar {
    &:nth-child(2) {
      &:before { transform: translateX(-100%) scale(0, 1) }
      &:after { transform: translateX(100%) scale(0, 1) }
    }
    
    &:nth-child(1) {
      &:before { transform: translateY(220.71%) rotate(45deg) scale(1.41, 1); }
      &:after { transform: translateY(220.71%) rotate(-45deg) scale(1.41, 1); }
    }
    
    &:nth-child(3) {
      &:before { transform: translateY(-220.71%) rotate(-45deg) scale(1.41, 1); }
      &:after { transform: translateY(-220.71%) rotate(45deg) scale(1.41, 1); }
    }
  }
}

@keyframes jello {
  from,
  11.1%,
  to {
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

