<!DOCTYPE html>
<html>
	<head>
		<title>VR Tutorial</title>
		<meta charset="utf-8">

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:500,700,800,900|Roboto+Mono">

		<link rel="stylesheet" href="css/codemirror.min.css">
		<link rel="stylesheet" href="css/theme.min.css">

		<link rel="stylesheet" href="css/index.min.css">
	</head>

	<body>
    {{> tutorials }}

		<section class="preview">
			<iframe src="preview.html"></iframe>
			<a class="qr" href="#"><i class="fa fa-qrcode"></i></a>
		</section>

		<script src="js/codemirror.min.js"></script>
		<script src="js/codemirror.autorefresh.min.js"></script>
		<script src="js/codemirror.xml.min.js"></script>
		<script src="js/codemirror.javascript.min.js"></script>

		<script src="js/jquery.min.js"></script>
		<script src="js/kjua.min.js"></script>

		<script src="js/lz-string.min.js"></script>
		<script src="js/index.min.js"></script>
	</body>
</html>
